html{
  font-size: 18px;
}

#main-container{
  width: 100%;
  height: auto;
  background-color: black;
  font-family: helvetica;
}

#site-container  div{
}

#logo,
.banner,
nav,
#products,
#footer,
#contact-info{
  width: 960px;
  margin: 0 auto;
}

header{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#logo{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.logo-img img{
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;

}

#logo span{
    display: inline-block;
    font-size: 1rem;
    align-self: center;
}

#full-banner{
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 25rem;
}

.banner-title{
 background-color: black;
 width: 20rem;
 display: flex;
 flex-direction: column;
 padding: 2rem 3rem;
 margin-top: 9rem;
}

.banner-title h3{
  font-size: 1rem;
}

.banner-title h2{
  font-size: 2rem;
  padding-top: 0.25rem;
}

#navigation{
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#smaller-nav{
  display: none;
}

nav ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  list-style: none;
}

main{
  background-color: white;
}

#products{
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;

}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 4px solid black;


}

.product .image img{
  height: 9rem;

}

.product .image{
  padding: 2rem 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.product-name{
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#glasses{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

#glasses img{
  padding: 2rem 0;
  height: 5rem;
}

#contact-info{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.info{
  margin-top: 3rem;
  width: 35%;
  margin-bottom: 4rem;
}

.info h3{
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
}

.info span{

}

footer{
  color: white;
  background-color: black;

}

#footer{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 9rem;
}

#footer span{
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width:1024px){
  .banner-title h3{
    font-size: 0.75rem;
  }

  .banner-title h2{
    font-size: 1.75rem;
    padding-top: 0.25rem;
  }

  #navigation nav{
    display: none;
  }

  #smaller-nav{
    display: block;
    text-align: center;
  }

  #products .product{
    width: 47%;
  }

  #third-product{
    display:none;
  }
}
